@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  /* Colors Primary */
  --color-white-smoke: #f7f4f4;
  --color-wine: #552834;
  /* Colors Secondary */
  --color-wine-dark: #200e13;
  --color-wine-light: #5528343a;

  /* Fonts */
  --font-family-roboto: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Cathedral-Open';
  src: url('./assets/fonts/Cathedral-Open.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.font-family-cathedral {
  font-family: 'Cathedral-Open';
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  background-size: 16px 16px;
  color: transparent;
}

/* ***************************************************************** */

/* ANIMATION NAV */

nav {
  transition: 0.2s linear 0.2s;
}

.nav-off {
  transform: translateY(-100px);
}

  .link-section {
    width: 15%;
    position: relative;
    z-index: 1;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    &:before {
      position: absolute;
      z-index: -1;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      top: 0;
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
      transform-origin: center right;
      background-color: var(--color-wine-light);
    }

    &:hover,
    &:focus {
      outline: 0;
      width: 130px;

      &:before,
      .link-title {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .link-title {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    display: block;
    text-align: center;
    text-indent: 28px;
    width: 100%;
  }

  .icon{
    position: absolute;
    left: 18px;
  }
  /* end */

  /* *********** */
